body{
    height: 97vh !important;
    background-image: url('/image/sincerely-media-nGrfKmtwv24-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: center;
}
.qoute{
    position: absolute;
    font-size: 3.3vw;
    margin: 13rem 0px 0px 27rem;
    font-family: 'Raleway', sans-serif;
}
.name{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    margin: 30rem 0px 0px 27rem;
}